section.estate {
  padding-top: 100px;
  padding-bottom: 120px;
  background-color: var(--secondary-white);
}

section.estate > div > h3 {
  color: var(--secondaryBrown);
  font-weight: 300;
  font-size: 40px;
}

section.estate > div > p {
  color: #848484;
  font-size: 20px;
}

.green__section {
  margin-top: 32px;
  width: 100px;
  height: 2px;
  background: #37a000;
}

.form__container {
  padding-top: 300px;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 32px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.foreclosure__form > div {
  width: 140px;
}

p.foreclosure__form_paragraph {
  color: #848484;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  margin: 2px 0;
}
